.home{
    padding-bottom: 50px;
}
.slideshow{
    width: 100%;
    /* margin-top: 20px; */
}

.slideshow > img{
    width: 100%;
    height: 550px;
    margin-top: 30px;
}

.p-tag{
    font-size: xx-large;
    margin-top: 10px;
}
.shop-category{
    display: flex;
}
.shop1{
    display: flex;
    /* width: 1500px; */
    margin-left: 100px;
    /* border: 1px solid; */
}
.shop2{
    display: flex;
    /* width: 100%; */
    margin-left: 100px;
    margin-top: 30px;
    /* border: 1px solid; */
}
.shop-111{
    margin-right: 30px;
}
.shop-111 > img{
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
}
.shop-img:hover{
    height: 310px;
    width: 100%;
}
.hover-btn{
    visibility: hidden;
}
.hover-btn:hover{
    background-color: black;
    color: white;
    visibility: visible;
    cursor: pointer;
}
/* .slideshow1{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1500px;
}
.slideshow1 > img{
    width: 100%;
    height: 550px;
} */

.btn{
    font-size: small;
    padding: 10px;
    margin-top: 15px;
    /* margin-bottom: 20px; */
    letter-spacing: 1.9px;
    width: 120px;
    background-color: white;
    border: 1px solid rgb(200, 197, 197);
}
.diva{
    height: 400px;
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
}
.diva-1{
    width: 12%;
    height: 80%;
    /* border: 1px solid; */
    margin: 50px;
}
.diva-1:hover{
    cursor: pointer;
}
.diva-1 > img{
    height:250px;
}
.belt{
    display: flex;

}
.color{
    color: red;
}
.btn1{
    margin-top: 70px;

    width: 110px;
    font-size: small;
    padding: 10px;
    background-color: black;
    color: white;
}
.btn1:hover{
    cursor: pointer;
}
@media only screen and (max-width: 800px){
    .shop1{
        display: flex;
        /* margin: auto; */
        margin-left: 60px;
        flex-direction: column;
    }
    .slideshow{
        width: 100%;
        margin: auto;
    }
    .shop-11{
        /* width: 400px; */
        margin: auto;
        grid-template-columns: repeat(1, 2fr);
        /* height: 100px; */
    }
    .shop2{
        display: flex;
        margin: auto;
        margin-left: 60px;
        flex-direction: column;
    }
     
    .diva{
        display: flex;
        margin: auto;
        height: 1700px;
        margin-left: 60px;
        flex-direction: column;
    }
    .diva-1{
        margin: auto;
        grid-template-columns: repeat(1, 2fr);
    }
    .btn1 , .btn{
        /* margin: auto; */
        margin-left: 85px;
        margin-bottom: 15px;  
    }
   

    .p-tag{
        /* align-items: center; */
        margin: 20px;
        margin-left: 100px;
    }
}