.row{
    display:flex;
    justify-content: space-between;
    width:95%;
    margin-top: 26px;

}
hr{
    margin:15px 28px;
    border:0.5px solid rgb(236, 233, 233);
}
.sub_total{
    font-family: Tiemann ,serif;
    font-weight: 500;
    letter-spacing: 0.25em;
    line-height: 1;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    
  
}
.total{
    font-family: Tiemann ,serif;
    font-weight: 500;
    letter-spacing: 0.173em;
    line-height: 1;
    font-size: 16px;
    
    
}
.sub_des{
    font-size: 13.5px;
    margin-left:17px;
   
}